ul li a:hover{

    color: yellow;
}

.sliders{
    
    height: 70vh;
    width: 100%;

    background-size: cover;
    background-position: center;
}

h1{
    letter-spacing: 5px;
    color: silver;
    font-size: 55px;
    font-weight: bolder;
}