ul li a:hover{

    color: yellow;
}

.sliders{
    
    height: 70vh;
    width: 100%;

    background-size: cover;
    background-position: center;
}

h1{
    letter-spacing: 5px;
    color: silver;
    font-size: 55px;
    font-weight: bolder;
}
.servicios{
    background-color: honeydew;
}
.imgs{
    
    height: 40vh;
    width: 100%;

    background-size: cover;
    background-position: center;
}
h5{
    font-weight: bolder;
    font-size: 22px;
    color: #1A5276;
}